/**
ALL DIVS
**/

#content {
  display: flex;
}

/**
LOGO
**/

#logo {
  margin-right: 100px;
}


/**
SIGNIN BOX/SIGNUP BOX
**/

.signs {
  font-family: 'Avenir Next';
  font-size: 30px;
  align-self: center;
}

.signs input {
  margin: 5px;
  border: none;
  padding: 10px 15px;
}

.login {
  margin: 10px;
  border: none;
  padding: 10px 15px;
  background-color: #5E90F0;
  width: 97%;
}

.signs a {
  font-size: 20px;
  color: white;
  background: transparent;
  text-decoration: underline;
}

/**
NAV CSS EDITS 
**/

nav {
  padding-top: 10px;
  background-color: #1B1B1D;
  color: white;
  align-self: center;
}

.navLinks {
  display: flex;
  justify-content: center;
}

nav a {
  padding-right: 50px;
  font-family: 'Avenir Next';
  font-size: 42px;
  color: white;
}

nav a:hover {
  color: #66C7F4;
}