/**
SIGNUP/SIGNIN DIVS
**/

#signContent {
  display: flex;
  align-items: center;
}

/**
LOGO
**/

#logo {
  height: 100%;
  margin-right: 100px;
}

#menuIcon {
  padding: 5px;
}

#menuIcon:hover {
  background: #5E90F0;
}


/**
SIGNIN BOX/SIGNUP BOX
**/

.signs {
  font-family: 'Avenir Next';
  font-size: 30px;
  align-self: center;
}

.input {
  color: black;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  background: white;
}

.submit {
  margin: 5px;
  border: none;
  padding: 10px 15px;
  background-color: #5E90F0;
  width: 97%;
}

.signs a {
  font-size: 20px;
  color: white;
  background: transparent;
  text-decoration: underline;
}

/**
ABOUT US PAGE
**/

.aboutContent {
  width: 700px;
  align-items: center;
  font-family: 'Avenir Next';
  text-align: justify;
}

.aboutContent h1 {
  font-size: 50px;
}

.contactDetails p {
  font-size: 20px;
}